# URL da API Rails
REACT_APP_API_URL=http://localhost:3000

# Configurações de desenvolvimento
GENERATE_SOURCEMAP=false

# Configurações de produção (opcional)
# REACT_APP_API_URL=https://sua-api.herokuapp.com
